.header {
    position: absolute;
    width: 100%;
    background: transparent;
    height: 100px;
    padding-top: 30px;

}

.logo {
    background: url('./logo.png') no-repeat center;
    background-size: cover;
    width: 50px;
    height: 55px;
}