.header {
    position: absolute;
    width: 100%;
    background: transparent;
    height: 100px;
}

.main_layout {
    background: transparent;
}

.sider_container_frame {
    height: calc(100vh - 200px);
    width: 100%;
    background: #fff;
    border-radius: 20px;
    margin-top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
}

.grid_container_frame {
    width: 100%;
    /* height: calc(50vh - 108px); */
    height: 500px;
    background: #fff;
    border-radius: 20px;
}

.title_style {
    text-transform: uppercase;
    
}

.title_margin {
    margin-top: 80px;
}

.logo {
    background: url('./logo.png') no-repeat center;
    background-size: cover;
    width: 50px;
    height: 55px;
    position: absolute;
    left: 50px;
}
