.header_wrapper {
    padding: 20px 15px 0 15px;
}
.logo {
    background: url('./logo.png') no-repeat center;
    background-size: cover;
    width: 50px;
    height: 55px;
}

.spaceH {
    height: 64px;
}

.loginOutlined {
    font-size: 32px;
    cursor: pointer;
    margin: 0px 0 0 15px;
}

.settingOutlined {
    font-size: 32px;
    cursor: pointer;
    margin: 0px 0 0 15px;
}

.right_menu_ctrl_block {
   height: 64px;
}

.userImage {
    border-radius: 50%;
    margin-top: 0px;
}

.pageTitle {
    text-transform: uppercase;
    
}

.logout_btn {
    color: black;
}