.title_style {
    text-transform: uppercase;
    
}

.title_margin {
    margin-top: 80px;
}

.grid_container_frame {
    width: 100%;
    /* height: calc(50vh - 108px); */
    height: 400px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}