.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
}

.header {
    position: absolute;
    width: 100%;
    background: transparent;
    height: 100px;
    padding-top: 30px;

}
.logo {
    background: url('./logo.png') no-repeat center;
    background-size: cover;
    width: 50px;
    height: 55px;
}

.pageTitle {
    text-transform: uppercase;
    text-align: center;
}

.login_frame {
    width: 50%;
    background: white;
    height: 300px;
}

.login_container {
    background: white;
    border-radius: 20px; 
    width: 600px; 
    margin: auto; 
    padding: 30px 30px 0 30px;
}

.content_position_mid {
    height: 100vh;
}