.header {
    position: absolute;
    width: 100%;
    background: transparent;
    height: 100px;
}

.main_layout {
    background: transparent;
}

.sider_container_frame {
    height: calc(100vh - 200px);
    width: 100%;
    background: #fff;
    border-radius: 20px;
    margin-top: 100px;
    overflow: hidden;
}
.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
}

.test {
    
}

